{% load i18n %}

<div class="row">
	<div class="col-md-12">
		<div id="card-main" class="card card-dark" style="height: inherit; width: inherit; transition: all 0.15s ease 0s;">
			<div class="card-header">
				<h3 class="card-title">

				</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="#" data-source-selector="#card-refresh-content" data-load-on-init="false">
						<i class="fa-solid fa-sync-alt"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="maximize">
						<i class="fa-solid fa-expand"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
                </div>
            </div>

			<div id="card-refresh-content" class="card-body">
				<div class="row">
					<div class="col-md-8">
dassssssssssssssssssssssssss
					</div>
					<div class="col-md-4">
						<div class="card card-outline card-warning">
							<div class="card-header">
 								<h3 class="card-title">{% translate 'Recent actions' %}: {% translate 'My actions' %}</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fa-solid fa-minus"></i>
									</button>
								</div>
							</div>
							<div class="card-body" style="display: block;">
								{% load log %}
            					{% get_admin_log 10 as admin_log for_user user %}

            					{% if not admin_log %}
            						<p>{% translate 'None available' %}</p>
            					{% else %}
									<div class="timeline">
										{% for entry in admin_log %}
											<div>
												{% if entry.is_deletion or not entry.get_admin_url %}
													<i class="fas fa-solid fa-eraser bg-red" title="Removido" alt="Removido"></i>
													<div class="timeline-item">
														<h3 class="timeline-header">
															<b>{{ entry.content_type.name }}:</b> {{ entry.object_repr }}
														</h3>
													</div>
												{% else %}
													{% if entry.is_addition %}
														<i class="fas fa-solid fa-plus bg-green" title="Adicionado" alt="Adicionado"></i>
													{% elif entry.is_change %}
														<i class="fas fa-solid fa-pen bg-yellow" title="Alterado" alt="Alterado"></i>
													{% endif %}
													<div class="timeline-item">
														<h3 class="timeline-header">
															<b>{{ entry.content_type.name }}:</b> <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
														</h3>
													</div>
												{% endif %}
											</div>
										{% endfor %}
									</div>
            					{% endif %}
							</div>
						</div>
                    </div>
                </div>
            </div>

            <div class="card-footer">

            </div>
        </div>
    </div>
</div>